canvas {
    display: block;
}

.mainCanvas {
    margin: 0 auto;
    border: 3px solid #000;
}


/* .js-modal {
    display: none;
    position: fixed;
    z-index: $modal_index;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__bg {
        width: 100%;
        height: 100%;
        background-color: rgba(30,30,30,0.9);
    }

    &__wrap {
        position: absolute;
        overflow: auto;
        max-height: 80%;
        width: 90%;
        max-width: 500px;
        @include center-xy;
    }
}

.js-no-scroll {
    overflow: hidden;
} */